
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html, body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    overflow-x: hidden;
    
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
    
}
body::-webkit-scrollbar{
    width: 5px;     /* Tamaño del scroll en vertical */
    height: 3px;
    background-color: rgb(0, 11, 61);
    margin-left: 20px;
    
    
      /* Ocultar scroll */
}
body::-webkit-scrollbar-button{
    height: 70px;
}

body::-webkit-scrollbar-thumb{
    
    background-color: rgb(0, 21, 114);
    border-radius: 20px;
    height: 2px;
    
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    }
    



.container {

margin: 0 auto;
}
.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0, 14, 77, 0.534)),
        url(imagenes/header-imagen.jpg);

        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
}

    .menu   {
        margin: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo img{
        padding: 10px 0;
        width: 200px;
        height: auto;
        filter: drop-shadow(1px 1px 10px rgb(5, 5, 5));
        
    }
   

    .menu .navbar ul li{
        
        position: relative;
        float: left;
    }
    
    .menu .navbar ul li a {
        padding: 2px 20px;
        font-size: 18px;
        border-radius: 50px;
        
        color: #fffdfc;
        
    }
    
    .menu .navbar ul li a:hover{
         border: 2px #f5bd06 solid;
         
         border-radius: 50px;
        
        
       
    }
    #menu{
        display: none;
    }
   #barra{
    display: fix;
    
   }
    .menu-icon{
        width: 25px;
        filter: invert(1);
    }
    .menu label{
        cursor: pointer;
        display: none;
    }
    .header-content{
        text-align: center;
    }
    .header-content h1{
        
        font-size: 68px;
        color: #fffdfc;
        text-shadow: 1px 1px 10px black ;
    }
    .header-content p{
        line-height: 23px;
        font-size: 18px;
        margin-top: 20px;
        color: #fffdfc;
        padding: 0 300px;
        justify-content: center;
    }
    .btn-1:not(hover){
        transition: 600ms;
        display: inline-block;
        padding: 11px 35px;
        background-color: #f5bd06;
        margin-top: 20px;
        border-radius: 35px;
        color: #fffdfc;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px black;
        box-shadow: 1px 1px 10px black;
    }
    .btn-1:hover{
        transition: 240ms;
        background-color: #f7ce19;
    }
    .ubicacion p :not(hover){
        width: 400px;
        height: 250px;
        transition: 1s;
        box-shadow: 2px 2px 20px rgb(0, 0, 0);
        border-radius: 20px;
    }
    .ubicacion p :hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
        transition: 1s;
        box-shadow: 2px 2px 20px rgb(0, 0, 0);
        border-radius: 20px;
    }
    .ubicacion img{
        border-radius: 20px;
        width: auto;
        height: 300px;
        box-shadow: 2px 2px 20px black;
    }
 
    
    .ubicacion h2{
        color: #eeb90a;
        text-shadow: 1px 1px 20px black;
        padding: 22px;
        text-align: center;
        font-size: 40px;
    }
    .ubicacion{


        background: rgba(3, 16, 77, 1.0);
        background: radial-gradient(at center, rgba(3, 16, 77, 1.0), rgba(3, 3, 56, 1.0));                        
               
    }
    .ubicacion-caja{
        padding-bottom: 20px;
        justify-content: center; 
        display: flex;
    }
    .principal{
        background: rgba(3, 16, 77, 1.0);
        background: radial-gradient(at center, rgba(3, 16, 77, 1.0), rgba(3, 3, 56, 1.0));                        
        
        padding: 20px;
        
    }
    .tipos-de-derecho-content{
        
        text-align: center;
    }
    .tipos-de-derecho-content h2{
        text-transform: uppercase;
        font-size: 40px;
        
        text-shadow: 2px 2px 20px black;
        color: #f5bd06;
        padding: 8px 0;
    }
    .tipos-de-derecho-content p{
        font-size: 20px;
        padding: 0 250px;
        color: #fffdfc;
    }
    .tipos-derechos h3{
        line-height: 30px;
        text-transform: uppercase;
        font-size: 30px;
        padding: 20px;
        color: #f5bd06;
        max-width: 300px;
        text-shadow: 2px 2px 20px black;
    }
       .tipos-derechos ul { 
        display: inline-block;
        text-align: left;
       padding: 20px;
       box-shadow: 0 0 20px black;
        background-image: none;
        max-width: 360px;
        border-radius: 13px;
        border: 2px #f5bd06 solid;
    }
    
   .tipos-derechos {    
        align-items: center;
        margin: 0 10px;
        color: #fffdfc;
        text-align: center;
        font-size: 22px;
        
        line-height: 33px;
    }
    .derechos-group{

        
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .servicios{
        
        text-align: center;
        padding: 0 10px;
        padding-bottom: 40px;

        background: rgba(3, 16, 77, 1.0);
        background: radial-gradient(at center, rgba(3, 16, 77, 1.0), rgba(3, 3, 56, 1.0));                        
    }
  .servicios h2{
    text-shadow: 2px 2px 20px black;
    color: #f5bd06;
    margin-bottom: 10px;
    font-size: 40px;
    padding-bottom: 5px;
  }
    
    
    
    .footer img{
        filter: invert(200%) brightness(406%) ;
    }
    .footer div{
        color: #ffffff;
        align-items: center;
        text-align: center;
    }

   
    

    .footer h3{
        text-align: center;
        font-size: 30px;
    }
    .footer{
        
        background-color: #000322;
        height: 20vh;
    }
    .servicios .tipos-derechos:hover {
        transition: 1s;
        text-transform:scale(1.0);transform:scale(1.050);
    }
    @media(max-width:991px){
        .menu{
            position: fixed;
            display: flex;
           justify-content: center;
           background-color: rgba(10, 33, 95, 0.178);
           backdrop-filter: blur(4px);
           
           box-shadow: 2px 2px 20px black;
            padding: 0px 0px;
            
            
        }
        
        
        .navbar{
            padding: 5px;
            justify-content: center;
            text-align: center;
            
            
            
        }
        .navbar ul{
            align-items: center;
            position: relative;
            justify-content: center;
            text-align: center;
            display: flex;
            
            
            
        }
        .menu .navbar  li{ 
            justify-content: center;
            
            
            width: 100%;
            height: 100%;
            
            
        }
        .principal h2{
            font-size: 30px;
        }
       
         
        .header{
            min-height: 0vh;
            
        }
        .header-content h1{
            line-height: 40px;
            font-size: 40px;

        }
        .header-content{
            padding: 100px;
        }
        .header-content p{
            padding: 0 1px ;
            
        }
        .logo img{
            display: none;
        }
        .tipos-de-derecho-content p{
            padding: 0px;
        }
        .derechos-group{
            justify-content: center;
        }
        .ubicacion p :not(hover){
            width: 320px;
            height: 200px;
            transition: 1s;
            box-shadow: 2px 2px 20px rgb(0, 0, 0);
            border-radius: 20px;
        }
     }